@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-9 .mbr-section-title {
  font-size: 84px;
}
#msg-box3-9 .lead P {
  font-size: 22px;
}
#features1-8 H4 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
}
#features1-8 .btn {
  font-size: 22px;
}
#ext_menu-c .navbar-toggler {
  color: #000;
}
#ext_menu-c .navbar-brand {
  font-size: 24px;
}
#ext_menu-c .nav-link {
  font-size: 18px;
}
#form1-d .mbr-section-title {
  font-size: 48px;
}
#ext_menu-b .navbar-toggler {
  color: #000;
}
#ext_menu-b .navbar-brand {
  font-size: 24px;
}
#ext_menu-b .nav-link {
  font-size: 18px;
}
#header3-k H3 {
  font-size: 46px;
}
#ext_menu-a .navbar-toggler {
  color: #000;
}
#ext_menu-a .navbar-brand {
  font-size: 24px;
}
#ext_menu-a .nav-link {
  font-size: 18px;
}
#msg-box2-o H2 {
  font-size: 46px;
}
