@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-9 .mbr-section-title {
  font-size: 84px;
}
#msg-box3-9 .lead P {
  font-size: 22px;
}
#features1-8 H4 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
}
#features1-8 .btn {
  font-size: 22px;
}
#social-buttons2-r .mbr-section-title {
  text-align: left;
}
#ext_menu-c .navbar-toggler {
  color: #000;
}
#ext_menu-c .navbar-brand {
  font-size: 24px;
}
#ext_menu-c .nav-link {
  font-size: 18px;
}
#form1-d .mbr-section-title {
  font-size: 48px;
}
#social-buttons2-m .mbr-section-title {
  text-align: left;
}
#ext_menu-b .navbar-toggler {
  color: #000;
}
#ext_menu-b .navbar-brand {
  font-size: 24px;
}
#ext_menu-b .nav-link {
  font-size: 18px;
}
#header3-k H3 {
  font-size: 46px;
}
#social-buttons2-q .mbr-section-title {
  text-align: left;
}
#ext_menu-a .navbar-toggler {
  color: #000;
}
#ext_menu-a .navbar-brand {
  font-size: 24px;
}
#ext_menu-a .nav-link {
  font-size: 18px;
}
#msg-box2-o H2 {
  font-size: 46px;
}
#social-buttons2-2c .mbr-section-title {
  text-align: left;
}
#ext_menu-e .navbar-toggler {
  color: #000;
}
#ext_menu-e .navbar-brand {
  font-size: 24px;
}
#ext_menu-e .nav-link {
  font-size: 18px;
}
#header3-f H3 {
  font-size: 46px;
}
#social-buttons2-s .mbr-section-title {
  text-align: left;
}
#ext_menu-x .navbar-toggler {
  color: #000;
}
#ext_menu-x .navbar-brand {
  font-size: 24px;
}
#ext_menu-x .nav-link {
  font-size: 18px;
}
#header3-y H3 {
  font-size: 46px;
}
#social-buttons2-12 .mbr-section-title {
  text-align: left;
}
#ext_menu-16 .navbar-toggler {
  color: #000;
}
#ext_menu-16 .navbar-brand {
  font-size: 24px;
}
#ext_menu-16 .nav-link {
  font-size: 18px;
}
#header3-17 H3 {
  font-size: 46px;
}
#social-buttons2-1b .mbr-section-title {
  text-align: left;
}
#ext_menu-1c .navbar-toggler {
  color: #000;
}
#ext_menu-1c .navbar-brand {
  font-size: 24px;
}
#ext_menu-1c .nav-link {
  font-size: 18px;
}
#header3-1d H3 {
  font-size: 46px;
}
#social-buttons2-1h .mbr-section-title {
  text-align: left;
}
#ext_menu-1i .navbar-toggler {
  color: #000;
}
#ext_menu-1i .navbar-brand {
  font-size: 24px;
}
#ext_menu-1i .nav-link {
  font-size: 18px;
}
#header3-1j H3 {
  font-size: 46px;
}
#social-buttons2-1n .mbr-section-title {
  text-align: left;
}
#ext_menu-1o .navbar-toggler {
  color: #000;
}
#ext_menu-1o .navbar-brand {
  font-size: 24px;
}
#ext_menu-1o .nav-link {
  font-size: 18px;
}
#header3-1p H3 {
  font-size: 46px;
}
#social-buttons2-1t .mbr-section-title {
  text-align: left;
}
#ext_menu-1u .navbar-toggler {
  color: #000;
}
#ext_menu-1u .navbar-brand {
  font-size: 24px;
}
#ext_menu-1u .nav-link {
  font-size: 18px;
}
#header3-1v H3 {
  font-size: 46px;
}
#social-buttons2-1z .mbr-section-title {
  text-align: left;
}
#ext_menu-20 .navbar-toggler {
  color: #000;
}
#ext_menu-20 .navbar-brand {
  font-size: 24px;
}
#ext_menu-20 .nav-link {
  font-size: 18px;
}
#header3-21 H3 {
  font-size: 46px;
}
#social-buttons2-25 .mbr-section-title {
  text-align: left;
}
#ext_menu-26 .navbar-toggler {
  color: #000;
}
#ext_menu-26 .navbar-brand {
  font-size: 24px;
}
#ext_menu-26 .nav-link {
  font-size: 18px;
}
#header3-27 H3 {
  font-size: 46px;
}
#social-buttons2-2b .mbr-section-title {
  text-align: left;
}
